
    <ul class="list-inline share" style="margin-top: 5px; margin-bottom: 5px; margin-left: 0px">
		<!-- Ezoic - Below Featured Image - under_page_title -->
		<div id="ezoic-pub-ad-placeholder-122">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<ins class="adsbygoogle"
		     style="display:block; text-align:center;"
		     data-ad-layout="in-article"
		     data-ad-format="fluid"
		     data-ad-client="{{ .Site.Params.google_adsense }}"
		     data-ad-slot="{{ .Site.Params.ga_before_post }}">
		</ins>
		<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
		</div>
		<!-- End Ezoic - Below Featured Image - under_page_title -->
    </ul>
