<footer>
    <div class="container">
        <div class="row p20">
                <div class="col-md-4 text-center mt25">© 1996-2019 PBG WorldWide Media</div>
<div class="col-md-4 text-center mt25">

  <a href="//hashhackers.freshdesk.com/support/solutions/articles/44001498205-privacy-policy">Privacy Policy and Terms of Use</a>
</div>
            <div class="col-md-4 text-center mt25">

               {{ with .Site.Params.facebook }}
                <a target="_blank" rel="noreferrer" href="{{.}}" aria-label="Facebook"><li class="social facebook"><i class="fa fa-facebook-square"></i></li></a>
                {{ end }}
               {{with  .Site.Params.quora }}
                <a target="_blank" rel="noreferrer" href="{{.}}" aria-label="Quora"><li class="social quora"><i class="fa fa-quora"></i></li></a>
                {{ end }}
               {{with  .Site.Params.twitter }}
                <a target="_blank" rel="noreferrer" href="{{.}}" aria-label="Twitter"><li class="social twitter"><i class="fa fa-twitter-square"></i></li></a>
                {{ end }}
               {{with  .Site.Params.github }}
                <a target="_blank" rel="noreferrer" href="{{.}}" aria-label="Github"><li class="social github"><i class="fa fa-github-square"></i></li></a>
                {{ end }}
               {{with  .Site.Params.email }}
                <a target="_blank" rel="noreferrer" href="mailto:{{.}}" aria-label="Email"><li class="social email"><i class="fa fa-envelope"></i></li></a>
                {{ end }}

            </div>

        </div>
    </div>
    
    <div class="hashhackers-footer hashhackers-footer-desktop" id="hhfooter" >
    <span class="hashhackers-footer-close" onclick="document.getElementById('hhfooter').style.display='none';">Close Ad</span>
        <center>
<iframe src="https://googleads.g.doubleclick.net/pagead/ads?client=ca-pub-5435553179213419&slotname=1921571160&format=728x90&url=https://www.tricksbystg.org/category/tech-gadgets/" height="110" width="750" frameborder="0"></iframe>
        </center>
    </div>
</footer>
