<div class="col-md-4 mt20">
        <div class="post-img">

                   <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                   <ins class="adsbygoogle"
                       style="display:inline-block;width:300px;height:250px"
                       data-ad-client="{{ .Site.Params.google_adsense }}"
                       data-ad-slot="{{ .Site.Params.ga_ad_300x250 }}">
                  </ins>
                  <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>

<form style="border:1px solid #ccc;padding:10px;text-align:center;" action="http://eepurl.com/ge4r-1" target="popupwindow" onsubmit="window.open('http://eepurl.com/ge4r-1', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true"><h3>Get Weekly Updates</h3><input type="hidden" value="HashHackers" name="uri"/><input type="hidden" name="loc" value="en_US"/><input type="submit" value="Subscribe" style="width: 100%; background-color: #399fff; color: white; padding: 14px 20px; margin: 8px 0; border: none; border-radius: 4px; cursor: pointer;"/></form>
        </div>

        <div class="mt10 recent">
            <h2>Recent articles</h2>
             <ul>
                {{ range first 5 (where .Site.RegularPages "Section" "posts") }}

                      <li>
                      <p><a href="{{ .URL }}"><img width="100%" src="{{ .Params.Images }}" alt="{{ .Params.title }}">{{ .Title }}</a><small>&nbsp;&nbsp;{{ .Date.Format "January 2, 2006" }}</small></p>
                      </li>

                {{ end }}
              </ul>
        </div>

        {{ range $key, $value := .Site.Taxonomies }}
            {{ if eq $key "categories" }}
            <div class="mt10 recent">
                <h2>Categories</h2>
                <div class="row">
                    <div class="col-md-11 col-md-offset-1 card">

                        <ul class="list-unstyled posts-recent">
                            {{ range first 5 $value.ByCount }}
                                <li><a href="{{ $.Site.BaseURL}}{{ $key | pluralize }}/{{ .Name | urlize }}">{{ .Name | humanize }}</a></li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
              </div>
            {{ end }}
        {{ end }}

        {{ if .Site.Params.fbLikeBox }}
        <div class="mt10">
            <div class="fb-page" data-href="https://www.facebook.com/PBGWorldWide/" data-width="400" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"><blockquote cite="https://www.facebook.com/PBGWorldWide/" class="fb-xfbml-parse-ignore"><a href="{site.fb-page-url}}">{{ .Site.Params.fbPageTitle}}</a></blockquote></div>
        </div>
        {{ end }}
        <br>

                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-format="autorelaxed"
                     data-ad-client="ca-pub-5435553179213419"
                     data-ad-slot="2420769114"></ins>
                <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>

        </div>
</div>
